<div class="login-container">
    <div class="welcome">
        Angular App
    </div>
    <div class="login-box">
        <h2>Login</h2>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="standard" class="input-group">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="username" autoFocus />
                <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('password')?.touched">
                    Username is required
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" class="input-group">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password"/>
                <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    Password is required
                </mat-error>
            </mat-form-field>

            <button class="login-btn" mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || isLoading">
                {{ isLoading ? 'Loading...' : 'Login'}}
            </button>

            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>
        </form>
    </div>
</div>