$navbar-height-web: 2rem;
$footer-height: 1.5rem;
$inner-padding: 0.5rem;

:host {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
}

@media (min-width: 600px) {
    .sidenav-toggle-btn {
        display: none;
    }
}

.sidenav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    .sidenav-menu {
        height: calc(var(--vh, 1vh) * 100);
    }
    .main-content {
        height: calc(var(--vh, 1vh) * 100);
        overflow: auto;
    }
}

.sidenav-toggle-btn {
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    font-size: 2rem;
}

.app-navbar {
    color: #ffffff;
    background-color: #000080;    
    padding: $inner-padding;
    flex-shrink: 0;
    height: $navbar-height-web;
}

.app-content {  
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .app-content-main {        
        flex: 1;
        padding: $inner-padding;
        overflow-y: auto;
    }
    .app-content-footer {
        color: #ffffff;
        height: $footer-height;
        padding: $inner-padding;
        background-color: #202080;
        flex-shrink: 0;
        text-align: center;
    }
}

mat-sidenav {
    width: 18rem;
}

@media (max-width: 768px) {
    mat-sidenav {
        width: 12rem;        
    }

    mat-sidenav[opened] {
        display: none;
    }

    mat-sidenav[mode='side'] {
        position: absolute;
        width: 100%;
    }
}

@media (min-width: 769px) {
    mat-sidenav {        
        display: block;        
    }    
}